html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
  word-wrap: break-word;
}

* a {
  display: block;
  text-decoration: none;
}
* a:hover {
  text-decoration: none;
}

* button {
  background: none;
  border: none;
  outline: none;
}

* input {
  background: none;
  border: none;
  outline: none;
}

* input,
textarea {
  font-size: initial;
}